<h1>Price List</h1>

<p>1/2-day rental: £7.00</p>
<hr/>
<p>1-day rental: £12.00</p>
<hr/>
<p>2-day rental: £23.00</p>
<hr/>
<p>3-day rental: £31.00</p>
<hr/>
<p>5-day rental: £45.00</p>
<hr/>
<p>7-day rental: £57.00</p>
<hr/>
