body {
  background: red url('/images/Mountain_biking.jpeg');
  /* background-size: 100%; */
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: right;
  color: black;
  font-family: 'Trebuchet', sans-serif;
  padding: 0px;
  margin: 200px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  padding: 0px;
}

p {
  background-color: white;
}



h1, h2, h3, h4, h5, h6 {
  border-left: 10px solid white;
  border-right: 10px solid white;
  padding-left: 25px;
  background-color: white;
}

a, a:link, a:visited {
  color: red;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: #c6e2ff;
}

nav {
  padding: 0px;
  margin: 0px;
  padding-right: 25px;
  background-color: white;
}

nav ul li {
  margin-bottom: 15px;
  text-transform: uppercase;
}

ul {
  padding: 0px;
  margin: 10px;
  list-style-type: none;
}

main {
  padding: 100px;
}

.flex {
  display: inline-flex;
}

.flex--row {
  flex-direction: row;
}

label {
  background-color: white;
}
