<h1>Add a new bike</h1>

<form method="POST" action="/bike/">
  <label for="name">Name:</label>
  <input id="name" name="name" type="text"/>
  <label for="size">Size:</label>
  <input id="size" name="size" type="number" max="5"/>
  <label for="bike_available">Bike Available:</label>
  <input id="bike_available" name="bike_available" type="boolean"/>

  <input type="submit" value="Add bike">

</form>
