<h1>Rental History</h1>

<% @rentals.each do |rental| %>
<p>Customer: <%=rental.customer.name %></p>
<p>Bike: <%=rental.bike.name %></p>
<p>Date Rented: <%=rental.rental_date %></p>


<hr/>
<% end %>
