<h1><%= @customer.name %> (customer)</h1>

<p>Customer Address <%= @customer.address %></p>

<h3>Rented:</h3>

<ul>
  <% @customer.bikes.each do |bike| %>
  <li><%= bike.name %></li>
  <% end %>
</ul>
