<h1>EDIT A CUSTOMER</h1>

<form method="POST" action="/customer/<%=@customer.id() %>">
  <label for="name">Name:</label>
  <input id="name" name="name" type="text" value="<%=@customer.name%>"/>
  <label for="address">Address:</label>
  <input id="address" name="address" type="text" value="<%=@customer.address%>"/>

  <input type="submit" value="Update Customer Details">

</form>
