<h1>Add a new customer</h1>

<form method="POST" action="/customer/">
  <label for="name">Name:</label>
  <input id="name" name="name" type="text"/>
  <label for="address">Address:</label>
  <input id="address" name="address" type="text"/>

  <input type="submit" value="Add customer">

</form>
